.jumbotron {
  background-color: brown;
}

.card-header {
  background-color: blue;
  color: white;
}

.card {
  margin-bottom: 15px;
}

#message {
  color: red;
  font-size: 34px;
  text-align: center;
  padding-bottom: 5px;
}

tr {
  text-align: center;
}